repos:
  # General hooks for file management
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: check-case-conflict
  - id: check-executables-have-shebangs
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: mixed-line-ending
    args: [--fix=lf]
  - id: check-added-large-files
    args: [--maxkb=500]
  - id: check-yaml
  - id: check-json

  # Shell script linting and formatting
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.9.0.6
  hooks:
  - id: shellcheck
    args: [--severity=warning]

- repo: https://github.com/scop/pre-commit-shfmt
  rev: v3.7.0-1
  hooks:
  - id: shfmt
    args: [-i, '2', -ci, -w]

  # Markdown linting
- repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.38.0
  hooks:
  - id: markdownlint
    args: [--fix]

  # YAML formatting
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.11.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix, --indent, '2']
